<tr id="tr_<%= govern.id %>">
  <td>
    <%= govern.desc %>
    <%= link_to({ action: 'move_higher', id: govern.id }, method: :patch, remote: true) do %>
      <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= link_to({ action: 'move_lower', id: govern.id }, method: :patch, remote: true) do %>
      <i class="fas fa-arrow-down"></i>
    <% end %>
  </td>
  <td>
    <% govern.rules.each do |rule| %>
      <div>
        <%= rule.desc %>
        <%= link_to roles_panel_govern_rule_path(govern, rule), remote: true, id: "roles_#{rule.id}" do %>
          <i class="fas fa-users"></i>
        <% end %>
        <%= link_to edit_panel_govern_rule_path(govern, rule), remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_govern_rule_path(govern, rule), method: :delete, data: { confirm: t('.confirm') } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to new_panel_govern_rule_path(govern), aria: { label: t('.new') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= link_to sync_panel_govern_rules_path(govern), method: :patch, aria: { label: t('.sync') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-sync"></i>
    <% end %>
    <%= link_to edit_panel_govern_path(govern), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_govern_path(govern), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
