<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Govern (Code)</th>
      <th>Actions</th>
      <th>
        <%= link_to({ action: 'new' }, { remote: true, class: 'button is-small is-link' }) do %>
          <i class="fas fa-plus"></i><span><%= t('.new') %></span>
        <% end %>
        <%= link_to({ action: 'sync' }, { method: :post, remote: true, data: { disable_with: 'Syncing' }, class: 'button is-small is-success' }) do %>
          <i class="fas fa-sync-alt"></i><span><%= t('.sync') %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'govern', collection: @governs %>
  </tbody>
</table>
