<tr id="tr_<%= busyness.identifier.blank? ? '_' : busyness.identifier %>" data-controller="tree-remote show" data-tree-remote-target="item" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <%= button_to({ action: 'namespaces', business_identifier: busyness.identifier }, data: { turbo_frame: 'visit' }) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
    <% end %>
    <span><%= busyness.name %></span>
    <%= button_to({ controller: 'busynesses', action: 'move_higher', id: busyness.id }, method: :patch, data: { show_target: 'item' }, style: 'visibility: hidden') do %>
      <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= button_to({ controller: 'busynesses', action: 'move_lower', id: busyness.id }, method: :patch, data: { show_target: 'item' }, style: 'visibility: hidden') do %>
      <i class="fas fa-arrow-down"></i>
    <% end %>
  </td>
  <td></td>
</tr>
