<div class="sixteen wide column">

  <div class="ui top attached menu borderless">
    <%= render 'nav_role' %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_who_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th>名称</th>
      <th>包含权限</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @whos.each do |who| %>
      <tr>
        <td>
          <%= who.name %>
          <%= link_to '编辑', edit_admin_who_path(who) %>
        </td>
        <td>
          <%= default_form_for who, as: :who, url: admin_who_path(who), html: { class: '', id: "edit_who_#{who.id}" } do |f| %>
            <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, { label: false }, { } %>
          <% end %>
        </td>
        <td><%= submit_tag '保存', class: 'ui mini blue button', form: "edit_who_#{who.id}" %></td>
        <td>
          <%= link_to '删除', admin_who_path(who), method: :delete, class: 'ui mini red button', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>