<div class="sixteen wide column">

  <%= render 'nav_role' %>

  <table class="ui striped bottom attached table">
    <caption>
      <%= link_to '新建', new_admin_who_path, class: 'ui teal right floated button' %>
    </caption>
    <thead>
    <tr>
      <th></th>
      <th class="there wide">名称</th>
      <th class="thirteen wide">包含权限</th>
      <th class="two wide"></th>
    </tr>
    </thead>

    <tbody>
    <% @whos.each do |who| %>
      <tr id="who_<%= who.id %>">
        <td></td>
        <td>
          <%= who.name %>
        </td>
        <td class="ui labels">
          <% Role.all.each do |role| %>
            <span class="<%= active_assert(who.role_ids.include?(role.id), expected: 'ui teal label', unexpected: 'ui label') %>"><%= role.name %></span>
          <% end %>
        </td>
        <td>
          <%= link_to '编辑', edit_admin_who_path(who), remote: true, class: 'ui mini blue button' %>
          <%= link_to '删除', admin_who_path(who), method: :delete, class: 'ui mini red button', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
  $('.ui.checkbox').checkbox({})
</script>