<div class="sixteen wide column">

  <div class="ui top attached menu borderless">
    <%= render 'nav_role' %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_who_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th></th>
      <th>名称</th>
      <th>包含权限</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @whos.each do |who| %>
      <tr>
        <td><%= form_tag admin_who_path(who), method: :patch, id: "edit_who_#{who.id}" %></td>
        <td>
          <%= who.name %>
          <%= link_to '编辑', edit_admin_who_path(who) %>
        </td>
        <td>
          <%= hidden_field_tag :'who[role_ids][]', nil, form: "edit_who_#{who.id}"  %>
          <% Role.all.each do |role| %>
            <% if who.role_ids.include?(role.id) %>
              <div class="ui label teal checkbox">
                <%= check_box_tag :'who[role_ids][]', role.id, true, form: "edit_who_#{who.id}" %>
                <label><%= role.name %></label>
              </div>
            <% else %>
              <div class="ui label checkbox">
                <%= check_box_tag :'who[role_ids][]', role.id, false, form: "edit_who_#{who.id}" %>
                <label><%= role.name %></label>
              </div>
            <% end %>
          <% end %>
        </td>
        <td><%= submit_tag '保存', class: 'ui mini blue button', form: "edit_who_#{who.id}" %></td>
        <td>
          <%= link_to '删除', admin_who_path(who), method: :delete, class: 'ui mini red button', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
  $('.ui.checkbox').checkbox({})
</script>