<div class="sixteen wide column">
  <div class="ui breadcrumb">
    <%= link_to '返回', admin_whos_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新建</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @who, as: :who, url: admin_whos_path do |f| %>
      <%= f.text_field :name, label: '名称:' %>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

