<%= render 'nav_role' %>

<div class="ui top attached borderless menu">
  <div class="right menu">
    <div class="item">
      <%= link_to 'Add New', new_admin_govern_path, class: 'ui teal right floated button' %>
    </div>
    <div class="item">
      <%= link_to 'Sync', sync_admin_governs_path, method: :post, class: 'ui red right floated button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable structured celled table">
  <thead>
    <tr>
      <th class="three wide">Govern (Code)</th>
      <th class="three wide">Actions</th>
      <th class="two wide"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'govern', collection: @governs, cached: true %>
  </tbody>
</table>