<div class="sixteen wide column">

  <%= render 'nav_role' %>

  <table class="ui bottom attached selectable structured celled table">
    <caption>
      <%= link_to 'Add New', new_admin_govern_path, class: 'ui teal right floated button' %>
      <%= link_to 'Add Taxon', new_admin_govern_taxon_path, class: 'ui blue right floated button' %>
    </caption>
    <thead>
    <tr>
      <th class="two wide">Category</th>
      <th class="two wide">Govern (Code)</th>
      <th class="ten wide">Actions</th>
      <th class="two wide"></th>
    </tr>
    </thead>

    <tbody>
      <% GovernTaxon.where('governs_count >= 0').each do |taxon| %>
        <tr>
          <td rowspan="<%= taxon.governs_count + 1 %>">
            <%= taxon.name %>
            <%= link_to edit_admin_govern_taxon_path(taxon) do %>
              <i class="write icon"></i>
            <% end %>
          </td>
        </tr>
        <% taxon.governs.each do |govern| %>
          <%= render partial: 'govern', locals: { govern: govern } %>
        <% end %>
      <% end %>
      <% if Govern.without_taxon.count > 0 %>
      <tr>
        <td rowspan="<%= Govern.without_taxon.count + 1 %>">未分类</td>
      </tr>
      <% Govern.without_taxon.each do |govern| %>
        <%= render partial: 'govern', locals: { govern: govern } %>
      <% end %>
      <% end %>
    </tbody>
  </table>


</div>