<%= render 'nav_role' %>

<%= render 'search_form' %>

<table class="ui bottom attached selectable structured celled table">
  <caption>
    <%= link_to 'Add New', new_admin_govern_path, class: 'ui teal right floated button' %>
    <%= link_to 'Sync', sync_admin_governs_path, method: :post, class: 'ui red right floated button' %>
    <%= link_to 'Add Taxon', new_admin_govern_taxon_path, class: 'ui blue right floated button' %>
  </caption>
  <thead>
    <tr>
      <th class="three wide">Govern (Code)</th>
      <th class="three wide">Actions</th>
      <th class="two wide"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'govern', collection: @governs, cached: true %>
  </tbody>
</table>