<div class="three wide column">
	<%= render 'admin/base/nav_users' %>
</div>

<div class="thirteen wide column">

	<div class="ui top attached menu borderless">
		<div class="item"><strong>默认权限列表</strong></div>
		<%= link_to '角色列表', admin_roles_url, class: 'item' %>
		<div class="right menu">
			<div class="item"><%= link_to '新建', new_admin_rule_path, class: 'ui teal button' %></div>
		</div>
	</div>

	<table class="ui table">
		<thead>
		<tr>
			<th>ID</th>
			<th>名称</th>
			<th>code</th>
			<th>Section</th>
			<th colspan="3"></th>
		</tr>
		</thead>

		<tbody>
		<% @rules.each do |rule| %>
				<tr>
					<td><%= rule.id %></td>
					<td><%= rule.name %></td>
					<td><%= rule.code %></td>
					<td><%= rule.section&.name %></td>
					<td><%= link_to '编辑', edit_admin_rule_path(rule) %></td>
					<td><%= link_to '删除', admin_rule_path(rule), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
		<% end %>
		</tbody>
	</table>

</div>