<tr>
  <td class="has-text-right"><%= Service.human_attribute_name(:name) %></td>
  <td><%= @service.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Service.human_attribute_name(:price) %></td>
  <td><%= @service.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Service.human_attribute_name(:vip_price) %></td>
  <td><%= @service.vip_price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Service.human_attribute_name(:unit) %></td>
  <td><%= @service.unit %></td>
</tr>
