<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:name) %></td>
  <td><%= @service.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:price) %></td>
  <td><%= @service.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:card_price) %></td>
  <td><%= @service.card_price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:unit) %></td>
  <td><%= @service.unit %></td>
</tr>
