<div class="sixteen wide column">

  <%= render 'admin/base/nav_role' %>

  <table class="ui celled striped bottom attached table">
    <caption>
      <%= link_to 'Add New', new_admin_role_path, class: 'ui teal right floated button' %>
    </caption>
    <thead>
      <tr>
        <th class="two wide">Authorisation</th>
        <th class="four wide">Description</th>
        <th class="seven wide">Roles Involved</th>
        <th class="three wide"></th>
      </tr>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.description %></td>
      <td class="ui labels">
        <% role.whos.each do |who| %>
          <div class="ui label"><%= who.name %></div>
        <% end %>
      </td>
      <td>
        <%= link_to 'Assign', admin_role_path(role), class: 'ui mini blue button' %>
        <%= link_to 'Edit', edit_admin_role_path(role), class: 'ui mini teal button' %>
        <%= link_to 'Delete', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui mini red button' %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>