<tr>
  <td><%= role_rule.business_identifier %></td>
  <td><%= role_rule.namespace_identifier %></td>
  <td><%= role_rule.controller_identifier %></td>
  <td><%= role_rule.action_name %></td>
  <td><%= role_rule.params_name %></td>
  <td><%= role_rule.params_identifier %></td>
  <td>
    <%= link_to({ action: 'show', id: role_rule.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: role_rule.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: role_rule.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
