<td><%= model.name %></td>
<td><%= model.description %></td>
<td>
  <% Array(model.who_types).each do |who_type| %>
    <%= link_to who_type, panel_role_who_roles_path(model, who_type: who_type), class: 'button' %>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :visible, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
