<tr id="tr_<%= busyness.identifier.blank? ? '_' : busyness.identifier %>" data-controller="tree-remote" data-tree-remote-target="item" data-tree-remote-hide-value="<%= defined?(hide) && hide ? true : false %>">
  <td>
    <%= button_to({ action: 'namespaces' }, params: { business_identifier: busyness.identifier }) do %>
      <% if defined?(expand) && expand %>
        <i class="fas fa-fw fa-caret-down" style="cursor: pointer" data-action="click->tree-remote#collapse"></i>
      <% else %>
        <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
      <% end %>
    <% end %>
    <% if @role.has_role?(business: busyness.identifier) %>
      <%= button_to({ action: 'business_off' }, params: { business_identifier: busyness.identifier, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="far fa-check-square fa-lg"></i>
      <% end %>
    <% else %>
      <%= button_to({ action: 'business_on' }, params: { business_identifier: busyness.identifier, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="far fa-square fa-lg"></i>
      <% end %>
    <% end %>
    <span><%= busyness.name %></span>
    <span class="has-text-grey">(<%= busyness.identifier %>)</span>
  </td>
</tr>
