<tr>
  <td><%= model.name %></td>
  <td><%= model.description %></td>
  <td>
    <% Array(model.who_types).each do |who_type| %>
      <%= link_to who_type, panel_role_who_roles_path(model, who_type: who_type), class: 'button' %>
    <% end %>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag '[model]visible', nil, model.visible, data: { method: :patch, url: panel_role_path(model), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag '[model]default', nil, model.default, data: { method: :patch, url: panel_role_path(model), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td>
    <%= link_to t('model.panel.roles.overview.title'), { action: 'overview', id: model.id }, class: 'button is-small is-rounded is-light' %>
    <%= link_to t('model.panel.roles.show.title'), { action: 'show', id: model.id }, class: 'button is-small is-rounded is-light' %>
    <%= link_to({ action: 'edit', id: model.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
