<tr id="tr_<%= busyness.identifier %>" data-controller="remote_tree show" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <%= link_to({ controller: 'governs', action: 'namespace', business_identifier: busyness.identifier }, remote: true) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->remote_tree#expand"></i>
    <% end %>
    <% if @role.role_rules.exists?(business_identifier: busyness.identifier, namespace_identifier: nil, enabled: true) %>
      <%= button_to({ controller: 'role_rules', action: 'destroy', role_id: @role.id }, params: { business_identifier: busyness.identifier }, method: :delete, remote: true) do %>
        <i class="far fa-check-square fa-lg"></i>
      <% end %>
    <% else %>
      <%= button_to({ controller: 'role_rules', action: 'create', role_id: @role.id }, params: { business_identifier: busyness.identifier }, remote: true) do %>
        <i class="far fa-square fa-lg"></i>
      <% end %>
    <% end %>
    <span><%= busyness.name %></span>
  </td>
</tr>
