<%= render 'filter_form' %>
<%= render 'filter_table' %>
<div class="buttons are-small mb-0 pt-2">
  <%= render 'button' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    <% cache do %>
      <%= render 'overview_thead' %>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @govern_taxons.each do |taxon| %>
    <tr>
      <td rowspan="<%= @role.governs.where(govern_taxon_id: taxon.id).count + 1 %>"><%= taxon.desc %></td>
    </tr>
    <% @role.governs.includes(:rules).where(govern_taxon_id: taxon.id).each do |govern| %>
      <%= render partial: 'overview_govern', locals: { govern: govern } %>
    <% end %>
  <% end %>
  <% if @taxon_ids.include?(nil) %>
    <tr>
      <td rowspan="<%= @role.governs.without_taxon.count + 1 %>">未分类</td>
    </tr>
    <% @role.governs.without_taxon.each do |govern| %>
      <%= render partial: 'overview_govern', locals: { govern: govern } %>
    <% end %>
  <% end %>
  </tbody>
</table>
