<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('role.panel.governs.index.title'), panel_roles_path %></li>
    <li class="is-active"><%= @role.name %></li>
  </ul>
<% end %>

<table class="as-search">
  <tr>
    <th><%= link_to Govern.human_attribute_name(:govern_taxon_id), panel_govern_taxons_path %></th>
    <td>
      <%= link_to '未分类', filter_params(except: [:govern_taxon_id]), class: active_params(govern_taxon_id: '', active: 'button is-info', item: 'button is-light') %>
    </td>
  </tr>
</table>

<div class="columns">
  <div class="column">
    <%= render 'table' %>
  </div>
  <div class="column is-narrow">
    <%= render 'nav_show' %>
  </div>
</div>
