<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td><%= model.price %></td>
<td>
  <div>
    <% model.card_price.each do |key, value| %>
      <div class="tags has-addons control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light"><%= value.to_money.format(html_wrap: true).html_safe %></div>
      </div>
    <% end %>
  </div>
  <%= link_to({ action: 'card', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('serve.admin.services.card.title') }) do %>
    <i class="fa-regular fa-pencil fa-sm has-text-grey"></i>
  <% end %>
</td>
<td>
  <div>
    <% model.wallet_price.each do |key, value| %>
      <div class="tags has-addons control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light">
          <span><%= value %></span>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to({ action: 'wallet', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('serve.admin.services.wallet.title') }) do %>
    <i class="fa-regular fa-pencil fa-sm has-text-grey"></i>
  <% end %>
</td>
<td><%= model.unit %></td>
