<tr data-depth="<%= govern_taxon.depth_str %>" style="display: <%= display %>">
  <td>
    <span style="width: <%= govern_taxon.depth * 1.43 %>em; display: inline-block"></span>
    <% if govern_taxon.leaf? %>
      <i class="fas fa-fw fa-minus"></i>
    <% else %>
      <i class="fas fa-fw fa-caret-right" data-action="click->tree#expand" style="cursor: pointer"></i>
    <% end %>
    <span><%= govern_taxon.code %></span>
  </td>
  <td>
    <span><%= govern_taxon.name %></span>
    <%= link_to({ action: 'move_higher', id: govern_taxon.id }, method: :patch, remote: true) do %>
      <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= link_to({ action: 'move_lower', id: govern_taxon.id }, method: :patch, remote: true) do %>
      <i class="fas fa-arrow-down"></i>
    <% end %>
  </td>
  <td><%= govern_taxon.governs_count %></td>
  <td>
    <%= link_to({ action: 'edit', id: govern_taxon.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: govern_taxon.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
