<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= GovernTaxon.human_attribute_name(:code) %></th>
      <th><%= GovernTaxon.human_attribute_name(:name) %></th>
      <th><%= GovernTaxon.human_attribute_name(:governs_count) %></th>
      <th>
        <%= link_to new_panel_govern_taxon_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
        <%= link_to sync_panel_govern_taxons_path, method: :post, class: 'ui mini red button' do %>
          <i class="fas fa-sync-alt"></i><%= t('.sync') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody data-controller="tree">
  <% @govern_taxons.each do |govern_taxon| %>
    <%= render partial: 'govern_taxon', object: govern_taxon %>
    <%= draw_tree(partial: 'role/panel/govern_taxons/govern_taxon', object: govern_taxon) %>
  <% end %>
  </tbody>
</table>

<%= paginate @govern_taxons %>
