<%= form_with theme: 'search', model: Govern.new do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <%= f.text_field :code %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<dl>
  <dt><%= link_to Govern.human_attribute_name(:govern_taxon_id), admin_govern_taxons_path %></dt>
  <dd>
    <%= link_to t('.unclassified'), filter_params(except: [:govern_taxon_id]), class: active_params(govern_taxon_id: '', active_class: 'button is-info', item_class: 'button is-light') %>
  </dd>
</dl>
