<%= search_form_with model: Govern.new do |f| %>
  <div class="fields">
    <%= f.text_field :name %>
    <%= f.text_field :code %>
    <%= f.submit %>
  </div>
<% end %>

<dl>
  <dt><%= Govern.human_attribute_name(:govern_taxon_id) %></dt>
  <dd>
    <%= link_to 'unclassified', filter_params(except: [:govern_taxon_id]), class: active_params(govern_taxon_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% GovernTaxon.where('governs_count > 0').each do |taxon| %>
      <%= link_to taxon.desc, filter_params(govern_taxon_id: taxon.id), class: active_params(govern_taxon_id: taxon.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
