<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Govern (Code)</th>
      <th>Actions</th>
      <th>
        <%= link_to new_admin_govern_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
        <%= link_to sync_admin_governs_path, method: :post, remote: true, class: 'ui mini red button' do %>
          <i class="fas fa-sync-alt"></i><%= t('.sync') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'govern', collection: @governs %>
  </tbody>
</table>
