<div class="sixteen wide column">
  <%= render 'admin/base/nav_role' %>

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_whos_path, class: 'govern' %>
    <div class="divider"> / </div>
    <div class="active govern">Add New</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @who, as: :who, url: admin_whos_path do |f| %>
      <%= f.text_field :name, label: 'Role:' %>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, label: 'Contains:', css: { wrapper_input: 'nine wide field ui labels' } %>
      <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>

