<%= form_tag admin_role_sections_path(@role), class: 'ui form' do %>
      <%= text_field_tag :section_name, '', placeholder: t('.new_section_placeholder') %>
    </div>
    <%= submit_tag t('.create_section'), class: 'ui button' %>
  </div>
<% end %>


<span class="ui toggle checkbox">
	            <input type="checkbox" name="public" data-section="<%= section %>" data-rule="<%= rule %>" >
            </span>