<div class="sixteen wide column">

  <div class="ui top attached menu borderless">
    <%= render 'admin/base/nav_role' %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_role_path, class: 'ui teal button' %></div>
    </div>
  </div>

</div>

<div class="row">

  <div class="sixteen wide column">
    <table class="ui celled structured table">
      <thead>
      <tr>
        <th>Role</th>
        <th>Sections</th>
        <th>Rules</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td rowspan="<%= role.sections.count %>"><%= role.name %></td>
          <td><div class="ui teal label"><%= role.sections.first&.desc %></div></td>
          <td class="ui labels">
            <% role.rules.where(section_id: role.sections.first&.id).each do |rule| %>
              <div class="ui label"><%= rule.desc %></div>
            <% end %>
          </td>
          <td rowspan="<%= role.sections.count %>" class="ui labels">
            <% role.whos.each do |who| %>
              <div class="ui label">
                <%= who.name %>
                <%= link_to who_admin_role_path(role, who), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="delete icon"></i><% end %>
              </div>
            <% end %>
          </td>
          <td rowspan="<%= role.sections.count %>">
            <%= link_to '管理', admin_role_path(role), class: 'ui mini blue button' %>
          </td>
        </tr>
        <% role.sections.uniq[1..role.sections.size].to_a.each do |section| %>
          <tr>
            <td>
              <div class="ui teal label"><%= section.desc %></div>
            </td>
            <td class="ui labels">
            <% section.rules.where(section_id: section.id).each do |rule| %>
              <div class="ui label"><%= rule.desc %></div>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

</div>