<div class="sixteen wide column">

  <%= render 'admin/base/nav_role' %>

  <div class="ui top attached segment">
    <div class="item"><%= link_to '新建', new_admin_role_path, class: 'ui teal button' %></div>
  </div>

  <table class="ui celled striped bottom attached table">
    <thead>
      <tr>
        <th class="two wide"></th>
        <th class="eleven wide"></th>
        <th class="two wide"></th>
        <th class="one wide"></th>
      </tr>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td class="ui divided items">
      <% role.sections.uniq.to_a.each do |section| %>
        <div class="item">
          <div class="image">
            <div class="ui label"><%= section.desc %></div>
          </div>
          <div class="ui labels content">
          <% section.rules.where(section_id: section.id).each do |rule| %>
            <div class="ui label"><%= rule.desc %></div>
          <% end %>
          </div>
        </div>
      <% end %>
      </td>
      <td class="ui labels">
        <% role.whos.each do |who| %>
          <div class="ui green label">
            <%= who.name %>
            <%= link_to who_admin_role_path(role, who), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="delete icon"></i><% end %>
          </div>
        <% end %>
      </td>
      <td>
        <div class="ui vertical buttons">
          <%= link_to '管理', admin_role_path(role), class: 'ui mini blue button' %>
          <%= link_to '编辑', edit_admin_role_path(role), class: 'ui mini teal button' %>
          <%= link_to '删除', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui mini red button' %>
        </div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>