<div class="sixteen wide column">

  <div class="ui top attached tabular menu">
    <%= render 'admin/base/nav_role' %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_role_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <table class="ui celled striped bottom attached table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td>
      <% role.sections.uniq.to_a.each do |section| %>
        <div class="ui label"><%= section.desc %></div>
        <div class="ui labels">
        <% section.rules.where(section_id: section.id).each do |rule| %>
          <div class="ui label"><%= rule.desc %></div>
        <% end %>
        </div>
        <div class="ui divider"></div>
      <% end %>
      </td>
      <td class="ui labels">
        <% role.whos.each do |who| %>
          <div class="ui label">
            <%= who.name %>
            <%= link_to who_admin_role_path(role, who), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="delete icon"></i><% end %>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to '管理', admin_role_path(role), class: 'ui mini blue button' %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>