<div class="sixteen wide column">

  <%= render 'admin/base/nav_role' %>

  <table class="ui celled striped bottom attached table">
    <caption>
      <%= link_to '新建', new_admin_role_path, class: 'ui teal right floated button' %>
    </caption>
    <thead>
      <tr>
        <th class="two wide"></th>
        <th class=""></th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td class="ui labels">
        <% role.whos.each do |who| %>
          <div class="ui label">
            <%= who.name %>
            <%= link_to who_admin_role_path(role, who), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="delete icon"></i><% end %>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to '分配权限', admin_role_path(role), class: 'ui mini blue button' %>
        <%= link_to '编辑', edit_admin_role_path(role), class: 'ui mini teal button' %>
        <%= link_to '删除', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui mini red button' %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>