<div class="sixteen wide column">
  <%= render 'admin/base/nav_role' %>

  <div class="ui top attached segment">
    <div class="ui breadcrumb">
      <%= link_to 'Back', admin_roles_path, class: 'section' %>
      <div class="divider"> / </div>
      <div class="active section"><%= @role.name %></div>
    </div>
  </div>

  <table class="ui bottom attached selectable structured celled table">
    <caption>
      <%= form_for @role, as: :role, url: admin_role_path(@role), html: { class: '', id: "edit_role_#{@role.id}" } do |f| %>
        <%= hidden_field_tag :'role[rule_ids][]', nil, form: "edit_role_#{@role.id}" %>
      <% end %>
      <%= submit_tag 'Save', class: 'ui mini blue right floated button', form: "edit_role_#{@role.id}" %>
    </caption>
    <thead>
    <tr>
      <th class="two wide">Category</th>
      <th class="two wide">Section (Code)</th>
      <th class="ten wide">Actions</th>
    </tr>
    </thead>

    <tbody>
      <% SectionTaxon.where('sections_count > 0').each do |taxon| %>
        <tr>
          <td rowspan="<%= taxon.sections_count + 1 %>"><%= taxon.name %></td>
        </tr>
        <% taxon.sections.each do |section| %>
          <%= render partial: 'section', locals: { section: section } %>
        <% end %>
      <% end %>
      <% if Section.without_taxon.count > 0 %>
      <tr>
        <td rowspan="<%= Section.without_taxon.count + 1 %>">未分类</td>
      </tr>
      <% Section.without_taxon.each do |section| %>
        <%= render partial: 'section', locals: { section: section } %>
      <% end %>
      <% end %>
    </tbody>
  </table>

</div>

<script>
  $('.ui.checkbox').checkbox({})
</script>