<div class="three wide column">
  <%= render partial: 'sidebar' %>
</div>

<div class="thirteen wide column">
	<div class="ui breadcrumb">
		<%= link_to '返回', admin_roles_path, class: 'section' %>
		<div class="divider"> / </div>
		<div class="active section">管理</div>
	</div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>权限列表</strong></div>
    <%= link_to '用户列表', users_admin_role_path(@role), class: 'item' %>
  </div>

  <div class="ui segment bottom attached">
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Section名称</th>
        <th>Rule名称</th>
      </tr>
    </thead>
    <tbody>
    <% Section.includes(:rules).all.each do |section| %>
      <tr>
        <td>
          <%= section.name %> (<%= section.code %>)
        </td>
        <td>
          <% section.rules.each do |rule| %>
          <p>
	          <%= render partial: 'toggle_form', locals: { rule: rule } %>
          </p>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
	$('.ui.checkbox').checkbox({
		onChange: function(){
			$(this).parent().parent().submit();
		}
	});
</script>

