<div class="sixteen wide column">
  <%= render 'admin/base/nav_role' %>

  <div class="ui top attached segment">
    <div class="ui breadcrumb">
      <%= link_to '返回', admin_roles_path, class: 'section' %>
      <div class="divider"> / </div>
      <div class="active section"><%= @role.name %></div>
    </div>
    <%= submit_tag '保存', class: 'ui mini blue button', form: "edit_role_#{@role.id}" %>
  </div>

  <%= render 'sections' %>

</div>

