<div class="three wide column">
  <%= render partial: 'sidebar' %>
</div>

<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>权限列表</strong></div>
    <%= link_to '用户列表', users_admin_role_path(@role), class: 'item' %>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'section_form' %>
    <%= render 'rule_form' %>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Section名称</th>
        <th>Rule名称</th>
      </tr>
    </thead>
    <tbody>
    <% @role.the_role.each_pair do |section, rules| %>
      <tr>
        <td>
          <%= the_role_t(section) %>
          <%= link_to '删除', admin_role_section_path(@role, section), method: :delete %>
        </td>
        <td>
          <% rules.each_pair do |rule, value| %>
          <p>
            <% if value %>
              <span class="ui green label">
                <i class="checkmark icon"><%= the_role_t(section, rule) %></i>
              </span>
            <% else %>
              <span class="ui red label">
                <i class="remove icon"><%= the_role_t(section, rule) %></i>
              </span>
            <% end %>

            <span class="ui toggle checkbox">
	            <input type="checkbox" name="public" data-section="<%= section %>" data-rule="<%= rule %>" >
            </span>

            <%= link_to '删除', destroy_rule_admin_role_section_path(@role, section, name: rule), method: :delete %>
          </p>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
	$('.ui.checkbox').checkbox({
		onChecked: function(){
			var section = $(this).data('section');
			var rule = $(this).data('rule');
			var token = $('meta[name="csrf-token"]').attr('content');
			var request = {};
			request.method = 'PATCH';
			request.headers = { 'X-CSRF-Token': token };
			fetch('<%= admin_role_url(@role) %>' + '/sections/' + encodeURIComponent(section) + '/rule_on?name=' + rule, request).then(function(response) {
				return response.json()
			})
		},
		onUnchecked: function() {
			console.log('onUnchecked called<br>');
		}
	});
</script>

<%# link_to '开启', rule_on_admin_role_section_path(@role, section, name: rule), method: :patch %>
<%# link_to '关闭', rule_off_admin_role_section_path(@role, section, name: rule), method: :patch %>

