<div class="ui container menu borderless">
  <%= render 'nav_role' %>
  <%= link_to '角色列表', whos_admin_role_path(@role), class: 'item' %>
</div>

<div class="row">
  <div class="two wide column">
    <%= render 'sidebar' %>
  </div>

  <div class="fourteen wide column">
    <table class="ui celled table">
      <thead>
      <tr>
        <th>Section名称</th>
        <th>Allow Rule</th>
      </tr>
      </thead>
      <tbody>
      <% Section.includes(:rules).all.each do |section| %>
        <tr>
          <td>
            <%= section.name %> (<%= section.code %>)
          </td>
          <td>
            <%= default_form_for @role, as: :role, url: admin_role_path(@role), html: { class: '', id: "edit_role_#{@role.id}" } do |f| %>
              <%= f.collection_check_boxes :rule_ids, section.rules, :id, :desc, { label: false }, { } %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>