<div class="three wide column">
  <div class="ui menu vertical fluid">
    <div class="item">
      <span>角色列表</span>
      <div class="menu">
        <% Role.all.each do |role| %>
          <%= link_to role.name, users_admin_role_path(role), class: active_object(role.id) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <%= link_to '权限列表', admin_role_path(@role), class: 'item' %>
    <div class="item">
      <strong>用户列表</strong>
    </div>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '删除', user_admin_role_path(@role, user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>