<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', admin_roles_path, class: 'section' %>
  <div class="divider"> /</div>
  <div class="active section"><%= @role.name %></div>
</div>
<% end %>

<div class="ui top attached segment">
  <dl>
    <dt><%= Govern.human_attribute_name(:govern_taxon_id) %></dt>
    <dd>
      <%= link_to '未分类', filter_params(except: [:govern_taxon_id]), class: active_params(govern_taxon_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <% GovernTaxon.where('governs_count > 0').each do |taxon| %>
        <%= link_to taxon.desc, filter_params(govern_taxon_id: taxon.id), class: active_params(govern_taxon_id: taxon.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <% end %>
    </dd>
  </dl>
</div>

<table class="ui bottom attached selectable structured celled table">
  <thead>
    <tr>
      <th class="four wide">Govern (Code)</th>
      <th class="twelve wide">
        <%= form_with url: admin_role_path(@role, govern_taxon_id: params[:govern_taxon_id]), html: { class: nil, id: "edit_role_#{@role.id}" } do |f| %>
          <%= f.hidden_field :'role[rule_ids][]', id: nil %>
        <% end %>
        <%= submit_tag t('.save'), class: 'ui mini blue right floated button', form: "edit_role_#{@role.id}" %>
        <%= link_to 'Overview', overview_admin_role_path(@role), class: 'ui mini right floated button' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'govern', collection: @governs %>
  </tbody>
</table>
