<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @who, scope: :who, url: who_roles_path(params[:who_type], params[:who_id]), method: :patch do |f| %>
      <%= render 'shared/error_messages', target: @who %>
      <%= f.collection_check_boxes :role_ids, @roles, :id, :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>








