<tr>
  <td class="has-text-right"><%= NameSpace.human_attribute_name(:name) %></td>
  <td><%= @name_space.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= NameSpace.human_attribute_name(:identifier) %></td>
  <td><%= @name_space.identifier %></td>
</tr>
<tr>
  <td class="has-text-right"><%= NameSpace.human_attribute_name(:verify_organ) %></td>
  <td><%= @name_space.verify_organ %></td>
</tr>
<tr>
  <td class="has-text-right"><%= NameSpace.human_attribute_name(:verify_member) %></td>
  <td><%= @name_space.verify_member %></td>
</tr>
<tr>
  <td class="has-text-right"><%= NameSpace.human_attribute_name(:verify_user) %></td>
  <td><%= @name_space.verify_user %></td>
</tr>
