<div class="<%= active_helper(modules: 'role/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('role.panel.roles.index.title'), panel_roles_path, class: active_helper(controllers: 'roles') %>
    <%= link_to t('role.panel.governs.index.title'), panel_governs_path, class: active_helper(controllers: 'governs') %>
    <%= link_to t('role.panel.govern_taxons.index.title'), panel_govern_taxons_path, class: active_helper(controllers: 'govern_taxons') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-user-secret fa-fw"></i>
    <span><%= t('role.panel.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
