<!DOCTYPE html>
<html>
  <head>
    <title>TheRole Management</title>
    <%= stylesheet_link_tag 'the_role/application' %>
    <%= javascript_include_tag 'the_role/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'the_role_admin/base/nav_role' %>
    <%= render 'shared/alert' %>

    <%= yield %>

    <%= js_load %>
  </body>
</html>