
<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= GovernTaxon.human_attribute_name(:code) %></th>
      <th><%= GovernTaxon.human_attribute_name(:name) %></th>
      <th>
        <%= link_to new_admin_govern_taxon_path, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
        <%= link_to sync_admin_govern_taxons_path, method: :post, class: 'ui mini red button' do %>
          <i class="fas fa-sync-alt"></i><%= t('.sync') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @govern_taxons.each do |govern_taxon| %>
    <tr>
      <td><%= govern_taxon.code %></td>
      <td><%= govern_taxon.name %></td>
      <td>
        <%= link_to edit_admin_govern_taxon_path(govern_taxon), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_govern_taxon_path(govern_taxon), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @govern_taxons %>
